<h1>Edit User</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.organization_employee_user_path(@conn, :update, @current_employee.organization_id, @current_employee.id, @user.id)) %>

<span><%= link "Back", to: Routes.organization_employee_user_path(@conn, :index,  @current_employee.organization_id, @current_employee.id) %></span>
