<h1>New User</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.organization_employee_user_path(@conn, :create, @organization_id, @employee_id)) %>

<span><%= link "Back", to: Routes.organization_employee_user_path(@conn, :index, @organization_id, @employee_id)%></span>
