<h1>Show Admin</h1>

<ul>
    TEMPLATE

</ul>

<span><%= link "Edit", to: Routes.organization_admin_path(@conn, :edit,  @admin.organization_id,@admin.id) %></span> |
<span><%= link "Back", to: Routes.organization_admin_path(@conn,:index,  @admin.organization_id) %></span>
