.display-list-user {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0.7rem;
    width: 100%;
    min-height: 100px;
    padding: 10px;
  }
  .display-user-active {
    box-shadow: 3px 3px 1px green;
    background-color: rgb(236, 255, 220, 0.3);
}
  .display-user-inactive {
    box-shadow: 3px 3px 1px red;
    background-color: rgba(219, 173, 156, 0.3);
}
  .verification-code{
    color: green
  }
  .popup-body {
    display: flex;
    justify-content: space-between;
  }
  .popup-header {
    text-align: center;
  }
  .alert .popup-header p {
    margin-bottom: revert;
  }