<section class="phx-hero">
  <h1><%= gettext "%{name}", name: "TurnStile" %></h1>
  <h3>Takes the "waiting" out of waiting room</h3>
  <button type="button" class="secondary outline">
   <%= link "Sign Up", to: "/organizations/new" %>
  </button>
</section>
