<h1>Add Your Organization</h1>

<h4>Sign-up your organization to start using our service</h4>

<%= render "new_form.html", Map.put(assigns, :action, Routes.organization_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.
organization_path(@conn, :index) %></span>
<span><%= link "Login", to: Routes.organization_path(@conn, :search_get) %></span>
